@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

header {
  background-color: #FFF6E7 !important;
}

h1, h2, h3 {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.linkButton {
  font-family: "Newsreader", serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
